<div>
    <h2>Claim Info</h2>
    <p>Last updated 7/12/2019</p>
    <div class="is-flex space-between p-t-20 p-b-20">
        <span>
            <p class="has-text-dark has-text-weight-bold">Total Amount</p>
            <p class="has-text-light-gray">$100,120.30</p>
        </span>
        <span>
            <p class="has-text-dark has-text-weight-bold">COB Adjustment</p>
            <p class="has-text-light-gray">$100,120.30</p>
        </span>
        <span>
            <p class="has-text-dark has-text-weight-bold">Total Amount</p>
            <p class="has-text-light-gray">$100,120.30</p>
        </span>
        <span>
            <p class="has-text-dark has-text-weight-bold">Copay</p>
            <p class="has-text-light-gray">$100,120.30</p>
        </span>
        <span>
            <p class="has-text-dark has-text-weight-bold">Overpaid by</p>
            <p class="has-text-danger has-text-weight-bold">$100,120.30</p>
        </span>
    </div>
</div>
<div>
    <h2 class="p-b-10">Summary</h2>
    <div class="tabs">
        <ul class="is-uppercase">
            <li [ngClass]="{'is-active' : summaryActiveTab === 'assigned'}"><a
                    (click)="changeSummaryTab($event)" id="assigned">Assigned to
                    me</a></li>
            <li [ngClass]="{'is-active' : summaryActiveTab === 'completed'}"><a
                    (click)="changeSummaryTab($event)" id="completed">Completed</a>
            </li>
        </ul>
    </div>
    <div *ngIf="summaryActiveTab === 'assigned'">
        <ngx-datatable class="bootstrap m-l-20 m-r-20" [rows]="rows" [columnMode]="ColumnMode.force"
            [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10"
            [selected]="selected" [selectionType]="SelectionType.checkbox"
            (activate)="onActivate($event)" (select)="onSelect($event)">
            <ngx-datatable-column name="No" [width]="20"></ngx-datatable-column>
            <ngx-datatable-column name="Overview"></ngx-datatable-column>
            <ngx-datatable-column>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <a class=" ngxColumnElementShowOnHover has-text-centered"
                        (click)="showMoreInfo(row)">more
                        info...</a>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>

    <div *ngIf="summaryActiveTab === 'completed'">
        <ngx-datatable class="bootstrap m-l-20 m-r-20" [rows]="rows" [columnMode]="ColumnMode.force"
            [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10"
            [selected]="selected" [selectionType]="SelectionType.checkbox"
            (activate)="onActivate($event)" (select)="onSelect($event)">
            <ngx-datatable-column name="No" [width]="10"></ngx-datatable-column>
            <ngx-datatable-column name="Assigned">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="dropdown is-hoverable is-left">
                        <div class="dropdown-trigger">
                            <button class="button " aria-haspopup="true"
                                aria-controls="dropdown-menu2" style="height: 100%;">
                                <div
                                    class="has-text-left has-text-dark has-text-weight-bold p-r-10 is-size-7">
                                    <span class="is-flex align-items-center">
                                        <figure class="image is-32x32 m-r-5">
                                            <img class="is-rounded"
                                                src="../../assets/images/person_1.jpg">
                                        </figure>
                                        <p>{{value}}</p>
                                    </span>
                                </div>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                            <div class="dropdown-content " style="width: 18rem;">
                                <div class="dropdown-item p-l-15 p-r-15 p-t-15 has-text-dark">
                                    <div class="control has-icons-right">
                                        <input class="input" type="text"
                                            placeholder="Search by name...">
                                        <span class="icon is-small is-right">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </div>
                                    <ul>
                                        <li class="is-flex p-t-10 p-b-10 align-items-center appNotification has-text-dark space-between"
                                            *ngFor="let person of assignes">
                                            <span class="is-flex align-items-center">
                                                <figure class="image is-32x32 m-r-5">
                                                    <img class="is-rounded"
                                                        src="../../assets/images/person_1.jpg">
                                                </figure>
                                                <span>
                                                    <p class="has-text-dark has-text-weight-bold">
                                                        {{person.name}}</p>
                                                    <span class="is-flex is-size-7 has-text-grey">
                                                        <p *ngFor="let issue of person.issues">
                                                            {{issue}}
                                                        </p>
                                                    </span>
                                                </span>
                                            </span>

                                            <span>
                                                <button *ngIf="person.name !== value"
                                                    class="button button is-info is-medium is-size-7"
                                                    (click)="showReassignModal(person)">Assign
                                                </button>
                                                <p *ngIf="person.name === value"
                                                    class="has-text-centered has-text-grey ">
                                                    Assigned</p>
                                            </span>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Overview"></ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>