:host {
  width: 100% !important;
}
/* li {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
} */

.smallSidebarMenuActive {
  /* border-left: 4px solid #008dcd;
  padding-top: 1rem;
  padding-bottom: 1rem; */
  i {
    color: #008dcd !important;
  }
}

// .smallMenu {
//   width: 53px;
// }
