<figure *ngIf="toggle == true" class="image is-128x128 center-margin m-b-20 m-t-20 cursor-pointer"
    (click)="hideSidebar()">
    <img src="../../assets/images/logo.png">
</figure>

<figure class="image is-32x32 m-l-15 p-t-10 cursor-pointer" *ngIf="!toggle" (click)="expandSidebar()">
    <img src="https://bulma.io/images/placeholders/128x128.png">
</figure>

<aside class="menu">
    <ul class="menu-list" *ngIf="toggle == true">
        <li><a [routerLink]="['/dashboard']" routerLinkActive="is-active" class="p-t-10 p-b-10 p-l-30">DASHBOARD</a>
        </li>
        <li><a [routerLink]="['/my-claims']" routerLinkActive="is-active" class="p-t-10 p-b-10 p-l-30">MY CLAIMS</a>
        </li>
        <li><a [routerLink]="['/notifications']" routerLinkActive="is-active"
                class="p-t-10 p-b-10 p-l-30">NOTIFICATIONS</a>
        </li>
        <li><a [routerLink]="['/resources']" routerLinkActive="is-active" class="p-t-10 p-b-10 p-l-30">RESOURCES</a>
        </li>
        <li><a *ngIf="authenticationService.isLoggedIn()" (click)="authenticationService.logout()" class="p-t-10 p-b-10 p-l-30">LOGOUT</a></li> 
    </ul>

    <ul *ngIf="!toggle" class="has-text-centered p-t-20">
        <li><a [routerLink]="['/dashboard']" routerLinkActive="smallSidebarMenuActive" matTooltip="Dashboard"
                [matTooltipPosition]="'right'"><i class="fas fa-tachometer-alt has-text-grey p-t-10 p-b-10 "></i></a>
        </li>
        <li><a [routerLink]="['/my-claims']" routerLinkActive="smallSidebarMenuActive" matTooltip="Claims"
                [matTooltipPosition]="'right'"><i class="fas fa-dollar-sign has-text-grey p-t-10 p-b-10 "></i></a></li>
        <li><a [routerLink]="['/notifications']" routerLinkActive="smallSidebarMenuActive" matTooltip="Notifications"
                [matTooltipPosition]="'right'"><i class="fas fa-bell has-text-grey p-t-10 p-b-10 "></i></a></li>
        <li><a [routerLink]="['/resources']" routerLinkActive="smallSidebarMenuActive" matTooltip="Resources"
                [matTooltipPosition]="'right'"><i class="fas fa-sticky-note has-text-grey p-t-10 p-b-10 "></i></a></li>
        <li><a [routerLink]="['/resources']" routerLinkActive="smallSidebarMenuActive" matTooltip="Account"
                [matTooltipPosition]="'right'">
                <i class="fas fa-user has-text-grey p-t-10 p-b-10 "></i></a>
        </li>
        <li><a *ngIf="authenticationService.isLoggedIn()" 
                (click)="authenticationService.logout()"
                matTooltip="Logout"
                [matTooltipPosition]="'right'">
                <i class="fas fa-circle-notch has-text-grey p-t-10 p-b-10 "></i></a>
        </li>
        <!-- p-l-15
        p-l-15
        p-l-15
        p-l-15
        p-l-15 -->
    </ul>

</aside>