.sidebar {
  margin-bottom: -5000px; /* any large number will do */
  padding-bottom: 5000px;
  z-index: 100;
}

.smallMenu {
  max-width: 86px;
}
.smallMenuItem {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
