// Bulma extentions
$cyan: #00a4e5;
$purple: #6e68a8;
$pink: #de4382;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$red: #fa6557;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $cyan;
$danger: $red;
// $link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$modal-content-width: 700px;

// $tag-background-color: #f5f9fa;

.menu-list {
  a.is-active {
    background-image: linear-gradient(to left, $pink, $purple, $cyan);
  }
}

.tabs {
  a {
    border-bottom-width: 0px;
    color: #666666;
    font-weight: 600;
  }
  li {
    &.is-active a {
      border-width: 2px;
      border-style: solid;
      border-image: linear-gradient(to left, $pink, $purple, $cyan) 1 100%;
      border-image-slice: 0 0 14 0;
      color: black;
    }
  }
}

.dropdown-menu {
  z-index: 40;
}

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/components/menu.sass";
// @import "../node_modules/bulma/sass/elments/tag.sass";
