//update of Angular material

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none !important;
}
.mat-expansion-panel-header {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-radius: none;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  margin-bottom: -0.7rem;
}
