<nav class="navbar " role="navigation" aria-label="main navigation">
    <h1 class="is-size-4 has-text-grey-darker p-l-15 p-t-15 has-text-centered-mobile">Dashboard</h1>
    <div class="navbar-end ">
        <div class="navbar-item has-text-centered-mobile">
            <app-notification></app-notification>
        </div>
    </div>
</nav>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-flex has-text-centered-mobile align-items-center is-four-fifths">
                <a (click)="changeDateRange('dec')"
                    class="button button is-white roundButton">
                    <span><i class="fa fa-angle-left"></i></span>
                </a> 
                <a (click)="changeDateRange('inc')"
                    class="button button is-white roundButton">
                    <span><i class="fa fa-angle-right"></i></span>
                </a>
                <h2 class="is-size-4 has-text-grey-darker p-l-5">
                    <span *ngIf="(dashDate$ | async)?.dateType != 5">This </span>
                    <span>{{tenors[ (dashDate$ | async)?.dateType - 1 ]}}</span>
                    <span *ngIf="(dashDate$ | async)?.dateType != 5">: </span>
                    <span>{{(dashDate$ | async)?.dateFrom | date }}</span>
                    <span *ngIf="(dashDate$ | async)?.dateType != 5"> - </span>
                    <span>{{(dashDate$ | async)?.dateTo | date }}</span>
                </h2>
            </div>
            <div class="column has-text-right has-text-centered-mobile p-t-0">
                <div class="dropdown is-hoverable is-right">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>{{tenors[ (dashDate$ | async)?.dateType - 1 ]}}</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            <a  *ngFor="let tenor of tenors; let i = index" 
                                [ngClass]="{'is-active': tenors[ (dashDate$ | async)?.dateType - 1 ] === tenor}"
                                (click)="changeDateMeasure(i + 1)"
                                class="dropdown-item">
                                {{tenor}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class="column">
                <div class="card-content has-text-centereded has-background-light">
                    <h1 class="is-size-3 has-text-weight-bold has-text-black">
                        {{ ( dashInfo$ | async )?.totalcoledt | currency }}
                    </h1>
                    <p class="has-text-weight-bold">TOTAL COLLECTION POTENTIAL</p>
                </div>
            </div>
            <div class="column">
                <div class="card-content has-text-centereded has-background-light">
                    <h1 class="has-text-success is-size-3 has-text-weight-bold">
                        {{ ( dashInfo$ | async )?.totalcolpot | currency }}
                    </h1>
                    <p class="has-text-weight-bold">TOTAL CLAIMS COLLECTED</p>
                </div>
            </div>
            <div class="column">
                <div class="card-content has-text-centereded has-background-light">
                    <h1 class="has-text-danger is-size-3 has-text-weight-bold">
                        {{ ( dashInfo$ | async )?.totallost | currency }}
                    </h1>
                    <p class="has-text-weight-bold">TOTAL CLAIMS LOST</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h1 class="is-size-4 has-text-grey-darker">Reminders</h1>
        <h2 *ngFor="let item of (todos$ | async) | slice:0:5; let i=index"
            class="is-size-5 has-text-grey-darker">
            <!-- Claim info and task to-do -->
        </h2>
    </div>
</section>
<section class="section">
    <div class="container">
        <h1 class="is-size-4 has-text-grey-darker">Claims to-do</h1>
        <h2 *ngFor="let item of (reminders$ | async) | slice:0:5; let i=index"
            class="is-size-5 has-text-grey-darker">
            <!-- Show top 5 claims -->
        </h2>
    </div>
</section> 