<div class="p-l-20">
    <ul class="is-flex">
        <span class="is-flex p-b-20">
            <a class="p-r-10 has-text-grey" [routerLink]="['claim']" queryParamsHandling="merge">Claim</a>
            <a class="p-r-10 has-text-grey" [routerLink]="['employee']">Employee</a>
            <a class="p-r-10 has-text-grey" [routerLink]="['patient']">Patient</a>
            <a class="p-r-10 has-text-grey" [routerLink]="['claim-provider']">Claim provider</a>
            <a class="p-r-10 has-text-grey" [routerLink]="['batch-info']">Batch Info</a>
        </span>
    </ul>
</div>
<div class="is-flex space-between">
    <div>
        <h2 class="is-size-5 has-text-dark">Resources</h2>
    </div>
    <button class="button is-primary is-small">Add new Resource</button>
</div>

<section class="section">

    <div class="is-flex flex-wrap justify-content-start">
        <div class="card m-r-5 m-l-5 m-t-10" *ngFor="let resource of resources">
            <div class="card-content">
                <div class="content has-text-grey">
                    <p>Onboarding Script <br> title goes here</p>
                </div>
            </div>
            <footer class="card-footer is-size-7 p-10">
                <p class="is-size-7 p-10has-text-dark has-text-weight-normal">4:20pm on 10/14/2019 (edited)</p>
            </footer>
        </div>

    </div>
</section>