<h2>Employee Information</h2>
<p>Last updated 7/12/2019</p>

<form action="" class="m-t-20" [formGroup]="employeeForm">
    <div class="columns">
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>Member ID</mat-label>
            <input matInput placeholder="-" formControlName="memberId">
            <mat-error *ngIf="employeeForm.controls['memberId'].hasError('required')">Member ID is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>Group</mat-label>
            <input matInput placeholder="-" formControlName="group">
        </mat-form-field>
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>Plan</mat-label>
            <input matInput placeholder="-" formControlName="plan">
        </mat-form-field>
    </div>
    <div class="columns">
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>SSN</mat-label>
            <input matInput placeholder="-" formControlName="ssn">
        </mat-form-field>
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>Group Description</mat-label>
            <input matInput placeholder="-" formControlName="groupDescription">
        </mat-form-field>
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>Plan Description</mat-label>
            <input matInput placeholder="-" formControlName="planDescription">
        </mat-form-field>
    </div>
    <div class="columns">
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>Name</mat-label>
            <input matInput placeholder="-" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>TOC Description</mat-label>
            <input matInput placeholder="-" formControlName="tocDescription">
        </mat-form-field>
    </div>

    <h2>Employee Address</h2>
    <p>Last updated 7/12/2019</p>
    <div class="columns m-t-20">
        <mat-form-field appearance="outline" class="column is-two-thirds" [floatLabel]="'always'">
            <mat-label>Address</mat-label>
            <input matInput placeholder="-" formControlName="address">
        </mat-form-field>
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>Address 2</mat-label>
            <input matInput placeholder="-" formControlName="address2">
        </mat-form-field>
    </div>
    <div class="columns">
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>City</mat-label>
            <input matInput placeholder="-" formControlName="city">
        </mat-form-field>
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>State</mat-label>
            <input matInput placeholder="-" formControlName="state">
        </mat-form-field>
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>Zip code</mat-label>
            <input matInput placeholder="-" formControlName="zipCode">
        </mat-form-field>
    </div>
</form>

<button class="button is-success m-t-20" [disabled]="employeeForm.invalid" (click)="submit()">Save Changes</button>