<h2>Employee Information</h2>
<p>Last updated 7/12/2019</p>

<form action="" class="m-t-20">
    <div class="columns">
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>Member ID</mat-label>
            <input matInput placeholder="-">
            <!-- formControlName="control" -->
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Id of member</mat-hint> -->
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>Group</mat-label>
            <input matInput placeholder="-">
            <!-- formControlName="control" -->
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Id of member</mat-hint> -->
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>Plan</mat-label>
            <input matInput placeholder="-">
            <!-- formControlName="control" -->
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Id of member</mat-hint> -->
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
    </div>
    <div class="columns">
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>SSN</mat-label>
            <input matInput placeholder="-">
            <!-- formControlName="control" -->
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Id of member</mat-hint> -->
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>Group Description</mat-label>
            <input matInput placeholder="-">
            <!-- formControlName="control" -->
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Id of member</mat-hint> -->
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>Plan Description</mat-label>
            <input matInput placeholder="-">
            <!-- formControlName="control" -->
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Id of member</mat-hint> -->
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
    </div>
    <div class="columns">
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>Name</mat-label>
            <input matInput placeholder="-">
            <!-- formControlName="control" -->
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Id of member</mat-hint> -->
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>Group</mat-label>
            <input matInput placeholder="-">
            <!-- formControlName="control" -->
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Id of member</mat-hint> -->
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>TOC Description</mat-label>
            <input matInput placeholder="-">
            <!-- formControlName="control" -->
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Id of member</mat-hint> -->
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
    </div>
</form>

<h2>Employee Address</h2>
<p>Last updated 7/12/2019</p>

<form action="" class="m-t-20">
    <div class="columns">
        <mat-form-field appearance="outline" class="column is-two-thirds" [floatLabel]="'always'">
            <mat-label>Address</mat-label>
            <input matInput placeholder="-">
            <!-- formControlName="control" -->
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Id of member</mat-hint> -->
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>Address 2</mat-label>
            <input matInput placeholder="-">
            <!-- formControlName="control" -->
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Id of member</mat-hint> -->
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
    </div>
    <div class="columns">
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>City</mat-label>
            <input matInput placeholder="-">
            <!-- formControlName="control" -->
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Id of member</mat-hint> -->
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>State</mat-label>
            <input matInput placeholder="-">
            <!-- formControlName="control" -->
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Id of member</mat-hint> -->
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="outline" class="column" [floatLabel]="'always'">
            <mat-label>Zip code</mat-label>
            <input matInput placeholder="-">
            <!-- formControlName="control" -->
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Id of member</mat-hint> -->
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
    </div>
</form>

<button class="button is-success">Save Changes</button>